aiobotocore==2.15.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.9
aioitertools==0.12.0
aiosignal==1.3.1
async-timeout==4.0.3
attrs==24.2.0
blinker==1.8.2
botocore==1.35.23
bounded-pool-executor==0.0.3
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
earthaccess==0.11.0
Flask==3.0.3
frozenlist==1.4.1
fsspec==2024.9.0
idna==3.10
importlib_resources==6.4.5
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
MarkupSafe==2.1.5
multidict==6.1.0
multimethod==1.12
numpy==2.1.1
pqdm==0.2.0
python-cmr==0.13.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
s3fs==2024.9.0
six==1.16.0
tinynetrc==1.3.1
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.4
wrapt==1.16.0
yarl==1.13.1
