@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Shadows+Into+Light&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.gamepagecontent{
    padding: 6rem;
    display: flex;
    justify-content: space-between;
}
.gamecontent{

    border: 2px solid black;
    width: 500px;
}
.firstline ul li   {
    background-color: transparent;
    text-align: center;
    margin: 5rem;
    border: 2px solid black;
    width: 15rem;
    height: 5rem;
    list-style-type: none;
}
.secondline ul li  {
    background-color: transparent;
    text-align: center;
    margin: 5rem;
    border: 2px solid black;
    width: 15rem;
    height: 5rem;
    list-style-type: none;
    
}
.firstline ul li a{
    text-decoration: none;
}
.secondline ul li a {
    text-decoration: none;
}

.plankton-theme{
    background-color: green;
}
.ocean-theme{
    background-color: rgb(63, 62, 62);
    background-image: url('../../public/cool-background.svg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.ecosystem-theme{
  background-color: lightgreen;
}
.aerosol-theme{
    background-color: skyblue;
}
.gamepagecontainer {
    height: 100vh;
    transition: background-color 0.5s ease;
}

  
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(42,82,190);
    padding: 10px;
    color: white;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left img, .navbar-left button {
    margin-right: 1em;
}

.navbar-left button {
    background: none;
    border: solid;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 100%;
    padding: 13px; /* You can use shorthand here */
    margin-right: 1em;
}

.search-bar input {
    padding: 1em;
    border-radius: 30px;
    border: 1px solid #ccc;
    width: 100%;
}

.homeIcon {
    width: 5em;
    background-color: transparent;
    border: none;
}
.container h1{
    color:#4C3BCF;
    font-family: "Rubik", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}